body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: antiquewhite;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

.my-dropdown-icon:after {
  display: none
}

.my-dropdown-menu {
  left: -140px !important;
}

.my-circle {
  width: 30px;
  height: 30px;
}

.fs-7 {
  font-size: .565em;
}

.fs-8 {
  font-size: .85rem;
}

.my-btn {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 20px;
}

.my-input {
  width: 39px;
  height: 25px;
}

.my-vh {
  height: 91.7vh;
}

.my-h-75 {
  max-height: 85vh;
}

.my-img {
  background-image: url(@/assets/imgea/cat-run.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.my-img-none {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .my-img-none {
      background-image: url(@/assets/imgea/cat-run.gif);
  }
}

.my-opacity {
  opacity: .6;
}

.my-z-index {
  z-index: 5;
}

.my-circle {
  width: 140px;
  height: 140px;
  background-image: url(@/assets/imgea/產銷履歷logo.jpg);
  background-position: center;
  background-size: cover;
}

.my-circle-shop {
  width: 30px;
  height: 30px;
}

.my-circle-2 {
  width: 140px;
  height: 140px;
  background-image: url(@/assets/imgea/報名.jpg);
  background-position: center;
  background-size: cover;
  opacity: .7;
}

.my-circle-3 {
  width: 140px;
  height: 140px;
}

.fs-10 {
  font-size: 5rem;
}

.my-ball {
  width: 15px;
  height: 15px;
}

.my-www {
  width: 200px !important;
}

@media (max-width: 992px) {
  .my-www {
      width: 100% !important;
  }
}

.go-top {
  background-color: rgba(0, 0, 0, 0.15);
  width: 120px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  position: sticky;
  left: 100%;
  bottom: 0px;
  transform: translate(200px, -15px);

  &:hover {
      box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .13), 0 0 .0625rem 0 rgba(0, 0, 0, .11);
      background: none;
  }
}

@media (max-width:1650px) {
  .go-top {
      transform: translate(130px, -15px);
  }
}
@media (max-width:1500px) {
  .go-top {
      transform: translate(100px, -15px);
  }
}
@media (max-width:1400px) {
  .go-top {
      transform: translate(80px, -15px);
  }
}
@media (max-width:580px) {
  .go-top {
      transform: translate(50px, -15px);
  }
}



.gigi {
  width: 200px;
  height: 200px;
  background-image: url(@/assets/imgea/cat-run-nobg.gif);
  background-size: cover;
}

.dodoro {
  width: 200px;
  height: 150px;
  background-image: url(@/assets/imgea/龍貓走路.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
}